<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Edit Recipe</title>
</head>
<body>
    {% with messages = get_flashed_messages() %} 
        {% if messages %}
        <div class="alert alert-danger" role="alert">
            <strong>Flash AHHHHH!</strong>
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}
    
    <form action="/recipe/update" method="post" class="col-6 mx-auto bg-light text-dark">
        <input type="hidden" name ="id" value="{{recipe.id}}">
        <h2 class="text-dark font-weight-bold border-bottom border-dark">Update your recipe!</h2>

        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" name="name" value="{{recipe.name}}" class="form-control">
        </div>

        <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" name="description" value="{{recipe.description}}" class="form-control">
        </div>

        <div class="form-group">
            <label for="instructions">Instructions:</label>
            <input type="text" name="instructions" value="{{recipe.instructions}}" class="form-control">
        </div>

        <div class="form-group">
            <label for="date_cooked">Date Cooked/Made:</label>
            <input type="date" name="date_cooked" value="{{recipe.date_cooked}}" class="form-control">
        </div>

        <div class="form-group">
            <label for="under">Under 30 minutes?</label>
            <select name="under" id="under">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
        </div>

        <input type="submit" value="Update Recipe" class="btn btn-warning">
    </form>
    <a href="/dashboard"><button class="btn btn-info">Back to Dashboard</button></a>
    <a href="/logout"><button class="btn btn-outline-secondary btn-sm">Logout</button></a>
</body>
</html>